.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: rgb(123,49,213);
  background: radial-gradient(circle, rgba(123,49,213,1) 0%, rgba(0,0,0,1) 100%);
}

.AppHeader {
  height: 90px;
  display: flex;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(39,82,119,1) 26%, rgba(131,58,180,1) 48%, rgba(97,32,100,1) 71%, rgba(0,0,0,1) 100%);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  font-family: Poppins,sans-serif;
  border-bottom: yellow 1px solid;
  box-shadow: 0px 0px 10px rgb(255, 208, 0),0px 0px 15px rgb(255, 208, 0),0px 0px 20px rgb(255, 208, 0);
}

.AppBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background: #f2f2f2;
}

.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}
.formButton {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}